<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Codeur de Jeux</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-home.css" rel="stylesheet">
  <!-- Add to HTML Head -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <% include partials/g-adsense %>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <% include ./partials/navbar.ejs %>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Bienvenue sur Codeur de Jeux</h1>

        <p>
          Si tu es ici c'est que tu as trouvé le site <a href="http://codeurdejeux.com">codeurdejeux.com</a> et que tu souhaite commencer à coder des jeux.
        </p>

        <p>
          J'ai mis le site sur glitch pour que tu commence directement, donc n'hésite pas à lire les tutoriels, tu peux aussi en faire
          et les partager sur le site pour discuter avec la communauté
        </p>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

      <% include partials/share %>

      <% include partials/tags %>

      <% include partials/sponsor %>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <script type="text/javascript">

    $(document).ready(function(){
      /*
        $("#mydiv").find(".card-title").html($("#myarticle").find('h2:first').text().substring(0, 20) + " ...");
        $("#mydiv").find(".card-text").html($("#myarticle").find('p:first').text().substring(0, 100) + " ...");
      */
        $(".button").attr("data-url", window.location.href);
    })

  </script>

  <% include partials/footer %>
  <% include partials/g-analytics %>

</body>

</html>
