<h1 class="my-4">Index
</h1>

<h2>Exploitation</h2>
<ul>
  <li><a href="/exploitation/reverseshell">reverseshell</a></li>
  <li><a href="/exploitation/sqlinjection">sqlinjection</a></li>
  <li><a href="/exploitation/sqlmap">sqlmap</a></li>
  <li><a href="/exploitation/struts2">struts2</a></li>
  <li><a href="/exploitation/venom">venom</a></li>
</ul>
<h2>Gathering</h2>
<ul>
  <li><a href="/gathering/fingerprint">fingerprint</a></li>
  <li><a href="/gathering/googledork">googledork</a></li>
  <li><a href="/gathering/nmap">nmap</a></li>
  <li><a href="/gathering/portscan">portscan</a></li>
  <li><a href="/gathering/shodaneye">shodaneye</a></li>
  <li><a href="/gathering/webxray">webxray</a></li>
</ul>
<h2>Linux</h2>
<ul>
  <li><a href="/linux/virtualbox">virtualbox</a></li>
  <li><a href="/linux/chrome">chrome</a></li>
</ul>
<h2>Metasploit</h2>
<ul>
  <li><a href="/metasploit/installmsf">installmsf</a></li>
  <li><a href="/metasploit/msfpayload">msfpayload</a></li>
  <li><a href="/metasploit/shellshock">shellshock</a></li>
  <li><a href="/metasploit/usemsf">usemsf</a></li>
</ul>
<h2>Networking</h2>
<ul>
  <li><a href="/networking/enumeration">enumeration</a></li>
  <li><a href="/networking/ipadress">ipadress</a></li>
  <li><a href="/networking/torphantom">torphantom</a></li>
</ul>
<h2>Sniffing & Sppofing</h2>
<ul>
  <li><a href="/sniff/mitm">mitm</a></li>
</ul>
