<!-- Categories Widget -->
<div class="card my-4">
  <h5 class="card-header">Tags</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">phaser2</a>
          </li>
          <li>
            <a href="#">phaser2 (ce)</a>
          </li>
          <li>
            <a href="/topic/basic">phaser3</a>
          </li>
          <li>
            <a href="#">phaser4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
