<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Pour toute question <a href="/faq">cliquez ici</a></p>
  </div>
  <!-- /.container -->
</footer>
