<div class="card my-4">
  <h5 class="card-header">Share</h5>
  <div class="card-body social">
    <a class="button" data-sharer="facebook" data-hashtag="gamedev" data-url="#"><i class="fa fa-3x fa-facebook-square" style="color:#3c5a99"></i></a>
    <a class="button" data-sharer="twitter" data-title="Check this out!" data-hashtags="gamedev" data-url="#"><i class="fa fa-3x fa-twitter-square" style="color:#00acee"></i></a>
  </div>
</div>
