<div id="mydiv">
<!-- Blog Post -->
<div class="card mb-4">
  <img class="card-img-top" src="../../images/<%= article.topic + '-' + article.title %>.jpg" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title"></h2>
    <p class="card-text"></p>
    <a href="topic/<%= article.topic + '/' + article.title %>" class="btn btn-primary">Read More &rarr;</a>
  </div>
  </div>
</div>

<div id="myarticle" style="display: none;">
  <%- article.text %>
</div>
